{% extends "base.html" %}
{% block content %}
  <form action="{{ url_for('initiate_video')}}" method="post">
    <div class="form-group row">
      <label for="video_name">Video Name</label>
      <input type="text" class="form-control" id="video_name" placeholder="Enter video name" name="video_name">
      <label for="video_url">Video Url</label>
      <input type="text" class="form-control" id="video_url" placeholder="Enter video url" name="video_url">
    </div>
    <button id="submit-url" class="btn btn-dark btn-lg" type="submit">Submit</button>
  </form>
{% endblock %}
